<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>
      <% @restaurant.reviews.each do |review|%>
        <%= review.content %>
        <br>
      <% end %>
      <%= link_to "Home", restaurants_path %>
      <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
    </div>
  </div>
</div>
